:root {
    --text-color: #D0D6F9;
    --stroke: #97979795;
    --text-alt-color: #0B0D17;
    --white-color: #fff;
    /* new comment */

    --normal-text-size: 1rem;
    --midi-text-size: 1.6rem;
    --medium-text-size: 2.5rem;
    --big-text-size: 6rem;

    --opacity: 0.4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--text-color);
    font-family: 'Barlow Condensed', sans-serif;
}

/* All navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

nav > img {
    width: 3rem;
    height: 3rem;
}

.nav-btn {
    color: var(--text-alt-color);
}

ul{
    list-style: none;
    position: absolute;
    /* display: none; */
}
/* .navbar > img {
    position: relative;
    right: 0px;
} */

/* Background image */
.homepage .bg, .destination .bg, .crew .bg, .technology .bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}
  .homepage .bg {background-image: url(assets/home/background-home-mobile.jpg);}
  .destination .bg {background-image: url(assets/destination/background-destination-mobile.jpg);}
  .crew .bg{background-image: url(assets/crew/background-crew-mobile.jpg);}
  .technology .bg{background-image: url(assets/technology/background-technology-mobile.jpg);}

/* homepage */
.homepage {
    height: 100vh;
}

.homepage > section > .section1 > * {
    margin-bottom: 9%;
}

/* body */
section {
    padding: 1rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    text-align: center;
}

p, blockquote {
    font-size: var(--normal-text-size);
}

.big-text {
    font-size: clamp(5rem, var(--big-text-size) ,7rem);
    font-family: 'Bellefair', serif;
    color: var(--white-color);
}

.medium-text {
    font-size: var(--medium-text-size);
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Bellefair', serif;
}

blockquote {
    font-family: 'Barlow', sans-serif;
    line-height: 1.8rem;
}
/* EXPLORE  */
#explore {
    width: 12rem;
    height: 12rem;
    background-color: var(--text-color);
    color: var(--text-alt-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


/* DESTINATION */
.destination .section1 > img{
    width: 15rem;
    margin: 2rem auto;
}

.destination .more {
    padding: 2.5rem;
    margin-top: 2.5rem;
    border-top: 1px solid var(--stroke);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.destination .more > div .medium-text {
   margin-top: 0.5rem;
   color: var(--white-color);
}

.destination .section2 .big-text {
    margin: 1rem auto 0.5rem auto;
}

.select-destination, .select-crew, .select-technology {
    display: flex;
    justify-content: space-between;
}
.select-destination a{
    padding-bottom: 1rem;
    /* border-bottom: 2px solid var(--white-color); */
}

.header {
    color: var(--white-color);
}

.header span{
    opacity: var(--opacity);
    margin-right: 0.5rem;
}

/* CREW */
.crew .section1 > img{
    width: 12rem;
}

.crew .section1 > p, .technology .section1 > p{
    margin: 0rem auto 2rem auto;
}

.crew .section2 {
    border-top: 1px solid var(--stroke);
}

.crew .position {
    font-family: 'Bellefair', serif;
    opacity: var(--opacity);
}
.crew .section2 .medium-text, .technology .section2 .medium-text{
    font-size: var(--midi-text-size);
    padding: 0.5rem 0 1rem 0;
}

.select-crew, .select-technology {
    padding: 1.8rem 0 1.8rem 0rem;
    justify-content: center;
    gap: 1rem;
}

.select-crew > * {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: var(--stroke);
    padding: 0;
}

.select-crew #one {
    background-color: #fff;
}

.crew blockquote, .technology blockquote {
    padding-bottom: 2rem;
}
/* TECHNOLOGY */

.technology section{
    padding: 2rem 0;
}
.technology .section2 {
    padding: 0 2rem;
}
.technology .terminology {
    opacity: var(--opacity);
}

.select-technology > * {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid var(--stroke);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.2rem;
}

.technology .section1 > img {
    width: 100%;
}
