* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #D0D6F9;
    --stroke: #97979795;
    --text-alt-color: #0B0D17;
    --white-color: #fff;
    /* new comment */

    --normal-text-size: 1rem;
    --midi-text-size: 1.6rem;
    --medium-text-size: 2.5rem;
    --big-text-size: 6rem;

    --opacity: 0.4;
}

body {
    line-height: normal;
    font-weight: 400;
    font-style: normal;
    position: relative;
}

/* BACKGROUND IMAGE ON MOBILE PHONE*/
.homepage .bg, .destination .bg, .crew .bg, .technology .bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.homepage .bg {background-image: url(assets/home/background-home-mobile.jpg);}
.destination .bg {background-image: url(assets/destination/background-destination-mobile.jpg);}
.crew .bg{background-image: url(assets/crew/background-crew-mobile.jpg);}
.technology .bg{background-image: url(assets/technology/background-technology-mobile.jpg);}

/* GENERAL PROPERTIES THAT CHANGE WITH SCREEN SIZE */
.header {
    text-align: center;
    font-size: 16px;
    letter-spacing: 2.7px;
}

blockquote {
    text-align: center;
    font-family: 'Barlow';
    font-size: 15px;
    line-height: 25px;
}

/* FONT COLOR CLASSIFICATION */
.select-destination, .destination-name, .crew-role, .crew-name, .technology-name, .distance, .travel, .header, .space
{
    color: #ffffff;
}
.mini-heading, .select-destination, blockquote {
    color: #D0D6F9;
}

/* FONT FAMILY CLASSIFICATION */
.select-destination, .mini-heading, .select-destination, .header {
    font-family: 'Barlow Condensed';
}
.space, .destination-name, .distance, .travel, .crew-name, .technology-name, .crew-role {
    font-family: 'Bellefair';
}

nav ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    list-style: none;
}
section {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.content {
    width: 80%;
    align-self: center;
}

/* OTHER PROPERTIES THAT CHANGE WITH SCREEN SIZE */
.space {
    text-align: center;
    font-size: 80px;
    line-height: 100px; /* 125% */
    letter-spacing: -0.923px;
}

 /* destination */
 .destination-photo{
    width: 291px;
    align-self: center;
 }

.select-destination {
    text-align: center;
    font-size: 14px;
    letter-spacing: 2.362px;
}

.destination-name {
    text-align: center;
    font-size: 56px;
}

.mini-heading, .select-destination {
    text-align: center;
    font-size: 14px;
    letter-spacing: 2.362px;
}

.distance, .travel {
    text-align: center;
    font-size: 28px;
}

/* crew */
.crew-role {
    text-align: center;
    font-size: 16px;
}

.crew-name, .technology-name {
    text-align: center;
    font-size: 24px;
}

/* CONVERT TO UPPERCASE */
.destination-name, .technology-name, .crew-name, 
.crew-role, .distance, .travel {
    text-transform: uppercase;
}


@media (min-width: 750px){
    /* BACKGROUND */
    .homepage .bg {background-image: url(assets/home/background-home-tablet.jpg);}
    .destination .bg {background-image: url(assets/destination/background-destination-tablet.jpg);}
    .crew .bg{background-image: url(assets/crew/background-crew-tablet.jpg);}
    .technology .bg{background-image: url(assets/technology/background-technology-tablet.jpg);}

    /* GENERAL PROPERTIES THAT CHANGE WITH SCREEN SIZE */
    .header {
        text-align: left;
        font-size: 20px;
        letter-spacing: 3.375px;
    }
    
    blockquote {
        margin: auto;
        font-size: 16px;
        line-height: 28px;
        width: 70%;
    }

    .destination blockquote {
        width: 90%;
    }

    /* OTHER PROPERTIES THAT CHANGE WITH SCREEN SIZE */
    .space {
        font-size: 150px;
        line-height: 150px; /* 125% */
    }

    /* destination */
    .destination-photo{
        width: 457px;
    }

    .select-destination {
        font-size: 16px;
        letter-spacing: 2.7px;
    }

    .destination-name {
        font-size: 80px;
    }

    /* .mini-heading, .select-destination {
        text-align: center;
        font-size: 14px;
        letter-spacing: 2.362px;
    } */

    /* .distance, .travel {
        text-align: center;
        font-size: 28px;
    } */

    /* crew */
    .crew-role {
        font-size: 24px;
    }

    .crew-name, .technology-name {
        font-size: 40px;
    }

}

@media (min-width: 900px){
    /* BACKGROUND */
    .homepage .bg {background-image: url(assets/home/background-home-desktop.jpg);}
    .destination .bg {background-image: url(assets/destination/background-destination-desktop.jpg);}
    .crew .bg{background-image: url(assets/crew/background-crew-desktop.jpg);}
    .technology .bg{background-image: url(assets/technology/background-technology-desktop.jpg);}

    /* GENERAL PROPERTIES THAT CHANGE WITH SCREEN SIZE */
    .header {
        font-size: 28px;
        letter-spacing: 4.725px;
    }
    
    blockquote {
        margin: auto;
        font-size: 18px;
        line-height: 32px;
        width: 100%;
    }

    .destination blockquote {
        width: 90%;
    }

    /* OTHER PROPERTIES THAT CHANGE WITH SCREEN SIZE */
    .space {
        font-size: 150px;
    }

    /* destination */
    .destination-photo{
        width: 678px;
    }

    .select-destination {
        font-size: 16px;
    }

    .destination-name {
        font-size: 100px;
    }

    /* .mini-heading, .select-destination {
        text-align: center;
        font-size: 14px;
        letter-spacing: 2.362px;
    } */

    /* .distance, .travel {
        text-align: center;
        font-size: 28px;
    } */

    /* crew */
    .crew-role {
        font-size: 32px;
    }

    .crew-name, .technology-name {
        font-size: 56px;
    }
}


    /* all font sizes for= header, image, select, dest, titlea, titleb blockquote*/
    /* phone  
    
    select dest     14  barlow condensed     16 16
    dest mini-heading 14  === barlow condensed  16   16  
    titleaLaunch= mini-heading 14 === barlow condensed  16   16 

    header         16  =            barlow condensed    20   28
    nav            16               barlow condensed    14   16
    blockquote     15 - barlow  16  18

    titleaCrew = 16         bellfair    24  32
    explore = 20            bellfair    32  S
    titleb 24  =            bellfair    40  56
    values in dest = 28     bellfair    28  S
    dest 56       =         bellfair    80  100
    space - 80              bellfair    150 S */
