.distance {
    color: red;
}

.header {
    margin-bottom: 20px;
    margin-top: 20px;
}
.content > *{
    margin-bottom: 10px;
    margin-top: 10px;
}

/* destination */
.destination-photo{
    max-height: 259px;
    object-fit: contain;
    margin-bottom: 30px;
}

.select-destination {
    display: flex;
    gap: 10%;
    max-width: 500px;
    justify-content: center;
    margin: auto;
}

.more {
    display: flex;
    flex-direction: column;
    gap: 2vb;
    padding: 3vb;
    border-top: 2px solid #383B4B;
}

.more .mini-heading {
   padding-bottom: 10px;
}

/* crew */

.crew-photo {
    height: 222px;
    object-fit: contain;
    margin-bottom: 0;
    border-bottom: 2px solid #383B4B;
    width: 85%;
    margin: auto;
}

.select-crew {
    width: 100px;
    height: 30px;
    border: 2px solid green;
    margin-left: auto;
    margin-right: auto;
}

/* Technology */

.technology-photo {
    /* height: 483px; */
    object-fit: contain;
    width: 100%;
}



